body {
  margin: 0;
  border: solid 5px;
  text-align: center;
  font-family: 'Merriweather', serif;
  }

h1 {
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;


  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }

div {
    background: white;
    font-family: 'Montserrat', sans-serif;
    }

a{
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
  margin: 10px 20px;
}

hr {
  color: #EAF6F6;
  border: dotted;
  border-bottom: none;
  border-color: grey;
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.intro {
  color: #40514E;
  padding-bottom: 50px;
  width: 30%;
  margin: auto;
}

.skills {
  padding-top: 20px;
}

.footer-link {
  color: #11999E;
}

.profile {
  color: #EAF6F6;
}

.pic {
  border-radius: 50%;
}

.links {
color: red;
}

.top {
  margin-top: 0;
  margin-left: 0;
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
}


.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
  }

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
  }

.middle-container {

}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199E);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199E);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199E);
  background-image: -o-linear-gradient(top, #11cdd4, #1199E);
  background-image: linear-gradient(to bottom, #11cdd4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  cursor: pointer;
}



.contact-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-message {
  width: 40%;
  margin: 40px; auto 60px;
}
